/* .debug{
    border: 2px solid red;
} */

/* UTILITY */
a{
    text-decoration: none;
    color: black;
}



#landingpage{
    background-color: black;
}

#landingpage .card-body{
    height: 200px;
}